{
  "extends": [
    "@abhijithvijayan/eslint-config"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/destructuring-assignment": 0
  },
  "env": {
    "browser": true
  }
}