.ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity $normal-time
   ease;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.modal {
  align-items: center;
  background-color: none;

  border-radius: 7px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: center;
  opacity: 1;
  outline: none;
  padding: 0;
  transition: 1s ease;
  width: 30rem;
}

.modal--team-selection {
  background-color: white;
  border: 7px solid $light-gray;
  color: $light-gray;
  height: 23rem;
  width: 63rem;

}

.modal--opaque {
  opacity: 0;
}

.modal--name {
  border-right: 7px solid $red;
  border-bottom: 7px solid $red;
  border-top: 7px solid $blue;
  border-left: 7px solid $blue;
}

.modal--BLUE {
  background-color: $light-blue;
  border: $xs-size solid $blue
}

.modal--RED {
  background-color: $light-red;
  border: $xs-size solid $red
}

.modal--TAN {
  background-color: $light-tan;
  border: $xs-size solid $tan;
  color: black;
}

.modal__title {
  font-size: $l-size;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.modal__title--winner {
  @extend .modal__title;
  font-size: $xl-size;
  margin: 0 0 $m-size 0;
}

.modal__code-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal__title--code {
  @extend .modal__title;
  background-color: white;
  border-radius: 2rem;
  color: black;
  display: inline;
  font-size: $m-size;
  font-weight: bold;
  margin: 0 auto;
  padding: $xs-size $s-size;
}

.modal__sub-title {
  font-size: $m-size;
  font-weight: normal;
  margin: $m-size $xs-size;
  text-align: center;
}

.modal__sub-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__button {
  border: none;
  background-color: red;
  cursor: pointer;
  color: white;
  font-size: $m-size;
  width: 8rem;

  &:hover {
    transform: scale(1.1);
  }
}

.modal__button--join {
  @extend .modal__button;
  background-color: $light-tan;
  color: black;
  width: 10rem;
}

.modal__close-button {
  background-color: unset;
  border: none;
  color: $light-gray;
  cursor: pointer;
  font-size: $m-size;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(12.8rem, -9.8rem);
}

.modal__close-button--team-selection {
  transform: translate(29rem, -11rem);
  color: $dark-gray;
}

.modal__input {
  background-color: unset;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: $l-size;
  margin: $s-size 0 $m-size 0;
  outline: 0;
  padding: $xs-size;
  text-align: center;
  width: 18rem;
}

.modal__input--join {
  @extend .modal__input;
  color: black;
  border-color: black;
}

.modal__top-left-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20rem solid $blue;
  border-right: 30rem solid transparent;
  z-index: -1;
}

.modal__bottom-right-triangle {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  border-bottom: 20rem solid $red;
  border-left: 30rem solid transparent;
  width: 0;
  height: 0;
  z-index: -1;
}
