.team-selection {
  display: flex;
  justify-content: center;
}

.team-selection__container {
  display: flex;
  justify-content: space-between;
  width: $grid-width;
}

.team-selection__unassigned-container {
  width: 15rem;
  padding-top: $ml-size;
  text-align: center;
}

.team-selection__unassigned {
  font-size: $s-size;
  color: black;
}

.team-selection__label {
  background: white;
  border: none;
  border-radius: 20rem;
  color: $blue;
  cursor: pointer;
  margin: $xs-size 0;
  outline: none;
  padding: 0.4rem 1rem;

  &:focus {
    outline: none;
  }
}

.team-selection__label--RED {
  color: $red;
}

.team-selection__user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.team-selection__side {
  align-items: center;
  color: white;
  display: flex;
  border-radius: $xs-size;
  border-style: solid;
  border-width: $xs-size;
  flex-direction: column;
  font-size: $s-size;
  margin: $s-size 0;
}

.team-selection__guesser-container {
  align-items: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 10rem;
  outline: none;
  padding: 0 $s-size;
  width: 15rem;
}

.team-selection__master-container {
  display: flex;
  flex-direction: column;
  height: 6rem;
  text-align: center;
}

.team-selection__master-name {
  cursor: default;
}
