.turn-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  margin: 0 auto $xl-size auto;
  width: $grid-width;
}

.turn-dashboard__side-display {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin: 0;
}

.turn-dashboard__RED {
  color: $red;
}

.turn-dashboard__BLUE {
  color: $blue;
}

.turn-dashboard__guesses-text {
  text-align: center;
  font-size: $m-size;
  margin-left: $xs-size;
}

.turn-dashboard__side-text-container {
  display: flex;
  justify-content: space-evenly;
}

.turn-dashboard__side-title {
  text-align: center;
  font-size: $m-size;
  font-weight: normal;
}

.turn-dashboard__remaining-text {
  font-size: $m-size;
  margin-left: $xs-size;
}

.turn-dashboard__button {
  color: white;
  border-radius: $xs-size;
  cursor: pointer;
  font-size: $m-size;
  height: 2.5rem;
  margin: auto 0;
  outline: none;
  transition: $transition-time ease;
  width: 9rem;

  &:focus {
    outline: none
  }

  &:hover {
    transform: scale(1.05);
  }
}

.turn-dashboard__button--BLUE {
  @extend .turn-dashboard__button;
  border: 0.2rem solid $blue;
  background-color: $light-blue;

  &:hover {
    background-color: $light-blue;
  }
}

.turn-dashboard__button--RED {
  @extend .turn-dashboard__button;
  border: 0.2rem solid $red;
  background-color: $light-red;

  &:hover {
    background-color: $light-red;
  }
}

.turn-dashboard__button--TAN {
  @extend .turn-dashboard__button;
  border: 0.2rem solid $tan;
  background-color: $light-tan;
  color: black;

  &:hover {
    background-color: $light-tan;
  }
}

.disabled-button {
  background-color: $light-gray;
  border: $dark-gray;
  color: white;
  cursor: unset;

  &:hover {
    transform: unset;
    background-color: $light-gray;
  }
}