.game-grid {
  margin-bottom: 1rem;
}

.game-grid__container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.8rem;
  width: $grid-width;
  height: 30rem;
  perspective: 800px;
  perspective-origin: top;
}

.game-grid__card {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: $s-size;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.05rem;
  outline: none;
  padding: 0;
  position: relative;
  transition: all 600ms ease;
  transform-style: preserve-3d;
  text-align: center;
}

.game-grid__card--show-back {
  transform: rotateX(180deg);
}

.game-grid__card-face {
  transition: all 200ms ease;
  background-color: $light-gray;
  backface-visibility: hidden;
  border-radius: $xs-size;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.game-grid__card-back {
  transform: rotateX(180deg);
  transition: opacity 600ms ease;
}

.game-grid__card--clickable {
  cursor: pointer;

  &:hover {
    background-color: lighten($color: $light-gray, $amount: 10%);
    transform: rotateX(5deg);
    box-shadow: 0 5px 5px rgba(50,50,50,.2);
  }
}

.game-grid__card--BLUE {
  background-color: $blue;
  color: white;
}


.game-grid__card--RED {
  background-color: $red;
  color: white;
}


.game-grid__card--WHITE {
  background-color: $tan;
  color: black;
}


.game-grid__card--BLACK {
  background-color: $black;
  color: white;
}

.game-grid__card--opaque {
  opacity: 25%;
}