.game-grid {
  margin-bottom: 3rem;
}

.game-grid__container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.8rem;
  width: $grid-width;
  height: 30rem;
}

.game-grid__card {
  align-items: center;
  background-color: $light-gray;
  border: none;
  border-radius: $xs-size;
  color: black;
  display: flex;
  font-size: $s-size;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.05rem;
  outline: none;
  text-align: center;
  transition: background-color $transition-time ease;
  transition: transform $transition-time ease;
}


.game-grid__card--unclicked {
  cursor: pointer;

  &:hover {
    background-color: lighten($color: $light-gray, $amount: 10%);
    transform: scale(1.05);
  }
}

.game-grid__card--BLUE {
  background-color: $blue;
  color: white;
}


.game-grid__card--RED {
  background-color: $red;
  color: white;
}


.game-grid__card--WHITE {
  background-color: $tan;
  color: black;
}


.game-grid__card--BLACK {
  background-color: $black;
  color: white;
}

.game-grid__card--opaque {
  opacity: 25%;
}