.start-game__button {
  background-color: inherit;
  border: none;
  color: white;
  cursor: pointer;
  font-size: $l-size;
  outline: none;

  &:focus {
    outline: none;
  }
}

.start-game__button--TAN {
  color: black;
}